<section>

  <!-- <div class="masthead">

    <h3 class="text-muted">Project name</h3>

    <nav>
      <ul class="nav nav-justified">
        <li ui-sref-active="active">
          <a href="#">Configuration</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about">Managment</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="contact">Job Operations</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="contact">Manage Users</a>
        </li>
      </ul>
    </nav>
  </div> -->


  <div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Configuration <span class="caret"></span>
  </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">P Tanımları</a>
      </li>
      <li>
        <a href="#">M Tanımları</a>
      </li>
      <li>
        <a href="#">Senaryo Dosyası</a>
      </li>
      <li>
        <a href="#">M Logu</a>
      </li>
      <li>
        <a href="#">P Logu</a>
      </li>
      <li>
        <a href="#">P Konsol</a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Management <span class="caret"></span>
  </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Beklemeye Al</a>
      </li>
      <li>
        <a href="#">Normal Shut Down</a>
      </li>
      <li>
        <a href="#">Forcefull Shut Down</a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Job Operations <span class="caret"></span>
  </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Add New Job</a>
      </li>
      <li>
        <a href="#">Edit New Job</a>
      </li>
      <li>
        <a href="#">Delete Job</a>
      </li>
      <li>
        <a href="#">Clone Job</a>
      </li>
    </ul>
  </div>


  <div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Manage Users <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Change Password</a>
      </li>
      <li>
        <a href="#">Kullanıcı Listesi</a>
      </li>
    </ul>
  </div>

<!-- 
  <div class="btn-group">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help <span class="caret"></span>
        </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">User Guide</a>
      </li>
      <li>
        <a href="#">About T</a>
      </li>

    </ul>
  </div>
   -->



</section>
